@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  --primary:#46B5D1;
  --secondary:#45A29E;
  --base :rgb(21, 20, 24);
  --ground:rgb(135, 52, 230);
}

.site-main-container{
  min-height: 100vh;
}


.main-content-cont{
  background-color: var(--base);
  min-height: 100vh;
}

.header-sec{
  background: url('./../public/mine/6-min.jpg');
  background-size: cover;
  min-height: 100vh;
  background-position:0px -650px;
  background-attachment: fixed;
}
.header-inner-content{
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0)),
  url('./../public/images/overlay-pattern.png');
  /* background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6),rgba(0,0,0,0.8)); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-social-ribbon{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 30px;
}
.content-head-div{
  margin-top: 100px;
}
.cust-btn-scl{
  padding: 5px;
  color: white;
  font-size: 1.2rem;
  transition: 0.3s;
  display: inline-block;
  width: 40px;
  height: 40px;text-align: center;
  border-radius: 50%;
  margin: 0px 5px;
  position: relative;
  opacity: 0.7;
}
.cust-btn-scl:before{
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  border: solid 2px var(--primary);
  opacity: 0;
  transition: 0.3s;
}
.cust-btn-scl:hover{
  color:white;
  opacity: 1;
  background-color: var(--primary);
}
.cust-btn-scl:hover::before{
  opacity: 1;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
}
.header-inner-content h1{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3.3rem;
  margin-top: 30px;
}
.header-inner-content h1 span{
  color: var(--primary);
  margin-left: 10px;
}
.header-inner-content p{
  color: var(--primary);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.header-desc{
  color: rgb(211, 211, 211) !important;
  font-size: 0.9rem;
}
.header-desc div{
  width: 65%;
  margin: auto;
  padding-top: 20px;
}
.header-inner-content p span{
  color: white;
  display: inline-block;
  padding: 0px 10px;
}
.header-divider{
  background-color: rgba(255,255,255,0.25);
  height: 10px;
  width: 60%;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.animate-1{
  animation: header-animate-1 3s  infinite ;
  opacity: 0;
}
.animate-2{
  animation: header-animate-2 3s  infinite ;
  opacity: 0;
}
.animate-3{
  animation: header-animate-3 3s  infinite ;
  opacity: 0;
}


@keyframes head-prt-anim-1 {
  0%{display: none;}
  50%{display: inline;}
  100%{display: none;}
}

@keyframes header-animate-1{
  0%{opacity: 0;}
  25%{opacity: 1;}
  50%{opacity: 1;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes header-animate-2{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 1;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes header-animate-3{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}

.cust-btn{
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  border-top: solid 2px var(--secondary);
  border-bottom: solid 2px var(--secondary);
  padding: 8px 20px;
  position: relative;
  transition: 0.3s;
  width: 180px;
}

.cust-btn::before{
  position: absolute;
  content: '';
  height: 100%;
  width: 3px;
  background: var(--primary);
  left: -25px;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}
.cust-btn::after{
  position: absolute;
  content: '';
  height: 100%;
  width: 3px;
  background: var(--primary);
  right: -25px;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}
.cust-btn:hover{
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}
.cust-btn:hover::before{
  opacity: 1;
  left: 0;
}
.cust-btn:hover::after{
  opacity: 1;
  right: 0;
}

.btn-head-sections{
  margin-top: 40px;
}
.btn-head-sections span{
  padding: 10px;
}



/* ------------------ POINTER - NAV -------------- */

.pointer-nav{
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  z-index: 999;
}
.pointer-nav ul{
  padding: 0px;
  margin-top: 50px;
}
.pointer-nav ul li{
  display: block;
}
.nav-point{
  display: inline-block;
  background-color: var(--primary);
  height: 10px;
  width: 10px;
  margin: 12px 0px;
  border-radius: 2px;
}
.pointer-nav ul li a{
  display:block;
  width: 100%;
  text-align: center;
}
.opennav-btn{
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 1.8rem;
}


@media screen and (max-width:700px) {
  .header-inner-content h1{
    font-size: 1.6rem;
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  .pointer-nav{
    /* display: none; */
    background-color: transparent;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
  .pointer-nav ul{
    display: none;
  }
  .btn-head-sections span{
    display: block;
    padding: 10px;
  }
  .header-desc div{
    width: 100%;
  }
  .header-sec{
    background-position: 0px 0px;
  }
  .header-inner-content{
    padding: 0px 10px;
  }
}


/* -------------------------- SLIDER NAVIGATION -------------- */

.slider-nav{
  min-height: 100vh;
  background-color: var(--base);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.full-nav-body{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 400px;
}

.full-nav-body ul li{
  display: block;
}
.full-nav-body ul li a{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.4rem;
  text-decoration: none;
  display: block;
  padding: 10px;
  color: white;
  transition: 0.3s;
}

.full-nav-body ul li a:hover{
  color: var(--primary);
  text-decoration: line-through;
}

.full-nav-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.full-nav-footer p{
  color: gray;
}
.full-nav-footer span{
  color: var(--primary);
}

.btn-close-fullnav{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 70px !important;
  border-left: none;
  border-right: none;
}
